

body { padding: 20px; } 

#ID_TABLE_PRINT_ARRAY_MAKE_ORDERS td { 
    border: 2px black solid; 
    padding: 10px 5px; 
    text-align: center; 
    vertical-align: middle; 
}


form div { 
    padding-bottom: 15px;
} 

form div label { 
    display: block; 
    padding-block: 5px; 
} 

.pizza { 
    border-width: 1px; 
    border-style: solid; 
    border-color: #DDD;

    padding: 12px; 
    margin-block: 8px; 
    
    display: flex; 
    justify-content: space-between; 
    align-items:center; 
} 


button { 
    padding: 10px 14px; 
    
    border: none; 
    border-radius:6px; 

    background-color: #4CAF50; 
    color:white; 
    
    cursor: pointer; 
} 

input, select { 
    padding: 8px;  

    border-width: 1px; 
    border-style: solid; 
    border-color: #CCC; 
    border-radius:6px; 
} 

